<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HF</title>
    {% load static %}
    <link rel="stylesheet" href="static/myapp/first.css">
  </head>


    <body>
        <div class="hero">

          <div class="contener">
            <img src="static/myapp/HF.png" width = "50" height = "50" alt="logo">
          </div>

          <div class="contener1">
            <small><font size = "15"> Welcome <br></font></small>

            <a href="/home/">
            <button class="button"><font size = "2"> Enter </font></button>
            </a>
          </div>
        </div>
    </body>
</html>
